dark_navy = #2d2c33
dull_purple = #54505c
purple = #76727e
purple_gray = #a19ea8
light_purple_gray = #c9c8d0
light_purple = #e9e7ec
light_purple_bold = #e5e1ea
pale_blue_gray = #eff4f4
light_emerald = #819a99
light_gray = #f8f8f8

blue = #3396ff
grey = #969696
emerald = #46bcb8
navy = #0e1730
pink = #dc4373
red = #ec5045
orange = #ffa500
sky_orange = #ffe2ad
sky_green = #dff0d8
sky_blue = #d9edf7
sky_red = #f2dede
vivid_purple = #595990
black = #222222

danger = #f2dede

facebook_purple = #385490
twitter_blue = #1da1f2

body_background = #f1f1f1
