html
body
input
header
h1
a
img
nav
ul
li
span
i
label
ol
main
h2
h3
div
em
p
form
fieldset
button
select
textarea
dl
dt
dd
address
footer
input
iframe
h5
  box-sizing border-box
  margin 0
  padding 0

body
  background body_background

main
  width auto
  margin 100px 40px 40px 240px
  display block

  &#login
    margin 100px 0 0

a
  text-decoration none
  outline none

img
fieldset
input
textarea
button
select
  border none
  outline none

input[type=submit]
input[type=button]
textarea
button
  -webkit-appearance none

ul
ol
  list-style none

em
  font-style normal

address
  font-style normal
