#main > section
#main > .section
  h2
    font-weight 400
    color dark_navy
    text-align center

+screen(null, device_max_width_phone)
  #main > section
  #main > .section
    h2
      font-size 17px
      line-height 28px
      margin-bottom 32px

+screen(device_max_width_phone + 1px)
  #main > section
  #main > .section
    h2
      font-size 30px
      line-height 48px
      margin-bottom 56px
