body
input
textarea
button
select
  font-family -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, Meiryo, sans-serif
  font-size 13px
  line-height 24px

.fabrikat
span.brand
  font-family Fabrikat, sans-serif
  font-weight inherit
  letter-spacing .05em

body
input
textarea
button
select
a
  color purple

h1
  font-weight 700

body
input
textarea
button
select
h2
h3
h4
h5
  font-weight 400
